/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
$width-1440:1440px;
$width-1680:1680px;
$width-1920:1920px;

//.da-slide-current .panel{
//     left: 10%;
//     opacity: 1;
//}
.da-slide .panel{
     //position: absolute;
     //opacity: 0;
     //left: 110%;
}
/!* Slide in from the left*!/
.da-slide-fromleft .panel {
     @include animation(fromLeftAnim2 0.6s ease-in 0.6s both);
}
@include keyframes(fromLeftAnim2){
     0%{ left: -110%; opacity: 0; }
     100%{ left: 10%; opacity: 1; }
}
/!* Slide out to the right *!/
//.da-slide-toright .panel,
.da-slide-toright .fluidlayout>.region{
     @include animation(toRightAnim2 0.6s ease-in 0.3s both);
     //position: absolute;
}
@include keyframes(toRightAnim2){
     0%{opacity: 1; }
     100%{ left: 100%; opacity: 0;}
}
/!* Slide in from the right*!/
.da-slide-fromright .panel{
     @include animation(fromRightAnim2 0.6s ease-in 0.8s both);
}
@include keyframes(fromRightAnim2){
     0%{ left: 110%; opacity: 0; }
     100%{ left: 10%; opacity: 1; }
}
/!* Slide out to the left *!/
.da-slide-toleft .panel{
     @include animation(toLeftAnim2 0.6s ease-in 0.3s both);
}
@include keyframes(toLeftAnim2){
     0%{ left: 10%;  opacity: 1; }
     30%{ left: 15%;  opacity: 1; }
     100%{ left: -50%; opacity: 0; }
}
/!*Higher Resolutions*!/
.da-slide .panel{
     @media (min-width: $width-1440) {
          margin-left:3%;
     }
     @media (min-width: $width-1680) {
          margin-left:7%;
     }
     @media (min-width: $width-1920) {
          margin-left:12%;
     }

}
*/
/* line 74, ../sass/screen.scss */
.animation,
.da-slide-toright .fluidlayout > .region {
  /*width:100px;
  height:100px;*/
  left: 600px;
  /*background:red;*/
  position: absolute;
  /*overflow: hidden;*/
  animation: mymove 5s infinite 0.4s both;
  /*-webkit-animation:mymove 5s infinite; /!*Safari and Chrome*!/*/
}

@keyframes mymove {
  /*0%{ left: 50%; opacity: 1; }*/
  100% {
    left: 100%;
    opacity: 0;
  }
}
