.box {
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    background-color: #f0f3f9;
    text-align: justify;
}

.list {
    width: 120px;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: top;
}