.top-content ul.mini-stat {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-bottom: 0;
}
@media screen and (max-width: 992px) {
    .top-content ul.mini-stat {
        display: block;
    }
}
.top-content ul.mini-stat > li {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
}
.top-content ul.mini-stat > li:first-child {
    border-left: none;
}
@media screen and (max-width: 992px) {
    .top-content ul.mini-stat > li {
        width: 100%;
        border-left: none;
        padding-bottom: 15px;
    }
}
@media screen and (min-width: 992px) {
    .top-content ul.mini-stat > li {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.top-content ul.mini-stat h5 {
    float: left;
    margin: 0;
    text-align: left;
    font-size: 75%;
    color: #888888;
}
.top-content ul.mini-stat h5 .stat-value {
    display: block;
    font-size: 1.5em;
    margin-top: 3px;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-seagreen {
    color: #3F7577;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-blue {
    color: #1D92AF;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-orange {
    color: #CE7B11;
}
.top-content .mini-bar-chart {
    display: block;
    float: right;
    margin: 15px 0 0 20px;
}

/*  stat start */

.sparkline-stat-item {
    color: #fff;
    background-color: #aaa;
    padding: 5px 20px 0 20px;
}
.sparkline-stat-item .data {
    float: left;
    margin-bottom: 0;
}
.sparkline-stat-item .inlinesparkline {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: absolute;
    left: 15px;
    bottom: 0;
}
.sparkline-stat-item #secondary-stat-item1 {
    background-color: #3F7577;
}
.sparkline-stat-item #secondary-stat-item2 {
    background-color: #67773F;
}
.sparkline-stat-item #secondary-stat-item3 {
    background-color: #D36B19;
}

.big-number {
    font-family: "latolight";
    font-size: 3.5em;
}

.sparkline-stat-item.data {
    float: left;
    margin-bottom: 0;
}

.data .col-left {
    float: left;
    margin-right: 10px;
    line-height: 1.8;
}

.data .col-right {
    float: right;
    position: relative;
    top: 1.5em;
}

.big-number-stat em {
    display: block;
    font-style: normal;
}
/*  stat end */

/* reminder notification */
.widget-reminder .widget-content {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: #6393A7;
    color: #fff;
}

.today-reminder .reminder-title {
    border-bottom: 1px solid #a4c0cc;
    padding-bottom: 5px;
    color: #fff;
}
.today-reminder .reminder-time {
    font-size: 2.5em;
    margin-bottom: 0;
    color: #fff;
}
.today-reminder .reminder-place {
    font-size: 1.5em;
    color: #fff;
}
.today-reminder .reminder-notes {
    font-size: 0.9em;
    color: #fff;
}
.today-reminder > .fa {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    position: absolute;
    top: 5px;
    right: -15px;
    font-size: 12em;
    -webkit-animation: ring 8s .5s ease-in-out 3;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 8s .5s ease-in-out 3;
    -moz-transform-origin: 50% 4px;
    animation: ring 8s .5s ease-in-out 3;
    transform-origin: 50% 4px;
}
.today-reminder > .btn-group {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.today-reminder > .btn-group .dropdown-menu {
    font-size: 0.9em;
}
.today-reminder > .btn-group > .btn-group {
    float: none;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }
    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}
@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }
    1% {
        -moz-transform: rotate(30deg);
    }
    3% {
        -moz-transform: rotate(-28deg);
    }
    5% {
        -moz-transform: rotate(34deg);
    }
    7% {
        -moz-transform: rotate(-32deg);
    }
    9% {
        -moz-transform: rotate(30deg);
    }
    11% {
        -moz-transform: rotate(-28deg);
    }
    13% {
        -moz-transform: rotate(26deg);
    }
    15% {
        -moz-transform: rotate(-24deg);
    }
    17% {
        -moz-transform: rotate(22deg);
    }
    19% {
        -moz-transform: rotate(-20deg);
    }
    21% {
        -moz-transform: rotate(18deg);
    }
    23% {
        -moz-transform: rotate(-16deg);
    }
    25% {
        -moz-transform: rotate(14deg);
    }
    27% {
        -moz-transform: rotate(-12deg);
    }
    29% {
        -moz-transform: rotate(10deg);
    }
    31% {
        -moz-transform: rotate(-8deg);
    }
    33% {
        -moz-transform: rotate(6deg);
    }
    35% {
        -moz-transform: rotate(-4deg);
    }
    37% {
        -moz-transform: rotate(2deg);
    }
    39% {
        -moz-transform: rotate(-1deg);
    }
    41% {
        -moz-transform: rotate(1deg);
    }
    43% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(0);
    }
}
@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

/* easy pie chart */
.easy-pie-chart {
    position: relative;
    width: 110px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}
.easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.easy-pie-chart .percent {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    line-height: 110px;
    z-index: 2;
}
.easy-pie-chart .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
/* easy pie end */
